{%extends "StudReg.html"%}
{%block body%}
<div class="container col-10">
            <h1 class="headingsub" id="Student">Score</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Faculties Name</th>
                        <th scope="col">Fact Dept</th>
                        <th scope="col">Subject ID</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Internal</th>
                        <th scope="col">External</th>
                        <th scope="col">Note</th>
                        <th scope="col">Total </th>
                        <th scope="col">Oparation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Aravind</td>
                        <td>Aswin</td>
                        <td>B.Tech</td>
                        <td>123</td>
                        <td>English</td>
                        <td>B.Tech</td>
                        <td>10</td>
                        <td>20</td>
                        <td>sumthing</td>
                        <td>Total</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Delete</button>
                                <button type="button" class="btn btn-secondary">Edit</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{%endblock%}