{%extends "home1.html"%}
{%block navigation%} 
<a class="navbar-brand logo" href="/">SIS</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Student
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/student_registration">Student Registration</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/student_view">View Students</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Faculties
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/faculty_registration">Faculty Registration</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/faculty_view">View Faculty</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Subjects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/subject_registration">Subject Registration</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/view_subjects">View Subjects</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'form_upload'%}">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'process'%}">Update Grades</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{%url 'search'%}" method="post">
        {%csrf_token%}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='query' value="{{query}}">
    </form>
    <form class="form-inline my-2 my-lg-0" action="{%url 'logout' %}" method="get">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
    </form>
</div>
{%endblock%}
{%block body%}
    <br>
    <br>
    <br>
    <br><br>
    <div class="container-fluid" style="text-align: center; width: 80%">
        <div class="row">
        {%for result in results%}

            <div class="co-xl-2 col-lg-3 col-md-6 col-sm-12">
                <div style="width: 90%">
                    <div class="card">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{result.first_name}} {{result.last_name}}</h5>
                            <p class="card-text">{{result.username}}</p>
                            <a href="{{result.get_absolute_url}}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        {%endfor%}
        </div>

    </div>

{%endblock%}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {%block footer%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    {%endblock%}
</body>

</html>