{%extends "home1.html"%}
<br>
    <br>
{%block body%}
    <div class="container col-10">
        <h1 class="headingsub" id="Student">Student List</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Semester<th>
                    <th scope="col">Username</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Branch</th>
                    <th scope="col">dsfksl</th>
                    <th scope="col">kfjsdkflj</th>
                </tr>
            </thead>
            <tbody>
                {%for student in students%}
                <tr>
                    <th scope="row">{{student.id}}</th>
                    <td>{{student.user.first_name}}</td>
                    <td>{{student.user.last_name}}</td>
                    <td>{{student.batch}}</td>
                    <td>{{student.semester}}</td>
                    <td>{{student.user.username}}</td>
                    <td>{{student.rollnumber}}</td>
                    <td>{{student.branch}}</td>
                    <td>fjsdkfjl</td>
                    <td>kfjskldjfd</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
   </div>
{%endblock%}