{%extends "home1.html"%}
{%if user.usertype  == 'STUDENT'%}
{%block navigation%}
<a class="navbar-brand logo" href="/">SIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form class="form-inline my-2 my-lg-0" action="{%url 'logout' %}" method="get">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
{%endblock%}
{%endif%}
{%block body%}
<p> First Name :{{user.first_name}}<br>
    Last Name : {{user.last_name}}<br>
    username : {{user.username}}<br>
    <a href="{% url 'delete_user' user.username %}">DELETE</a>
    <a href="{% url 'edit_user' user.username %}">EDIT</a>
    <a href="{% url 'view_result' user.username%}">RESULT</a>
</p>

{%endblock%}